<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eius quo quis molestias repudiandae debitis exercitationem similique accusantium placeat quisquam laborum nihil, porro iste fugiat tenetur. Recusandae modi, molestiae eos hic rerum necessitatibus dolore debitis ducimus perferendis tenetur sit doloremque cum nulla, dolorem sint amet quam ex aperiam ipsa? Impedit.</div>
</article>

<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eius quo quis molestias repudiandae debitis exercitationem similique accusantium placeat quisquam laborum nihil, porro iste fugiat tenetur. Recusandae modi, molestiae eos hic rerum necessitatibus dolore debitis ducimus perferendis tenetur sit doloremque cum nulla, dolorem sint amet quam ex aperiam ipsa? Impedit.</div>
</article>

<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eius quo quis molestias repudiandae debitis exercitationem similique accusantium placeat quisquam laborum nihil, porro iste fugiat tenetur. Recusandae modi, molestiae eos hic rerum necessitatibus dolore debitis ducimus perferendis tenetur sit doloremque cum nulla, dolorem sint amet quam ex aperiam ipsa? Impedit.</div>
</article>

<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eius quo quis molestias repudiandae debitis exercitationem similique accusantium placeat quisquam laborum nihil, porro iste fugiat tenetur. Recusandae modi, molestiae eos hic rerum necessitatibus dolore debitis ducimus perferendis tenetur sit doloremque cum nulla, dolorem sint amet quam ex aperiam ipsa? Impedit.</div>
</article>